#contenu{
  border: 1px solid black;
  margin-right: 60%;
  padding-top: 0.1px;
}
img{
  float: right;

}
.encart{
  float: left;
  padding: 3px;
  color: blue;
  margin-left: 5px;
  border: 1px solid black;
  font-style: italic;
  width: 120px
}
